@font-face {
  font-family: "Roboto";
  src: url("roboto.woff");
}

@font-face {
  font-family: "Roboto";
  src: url("roboto.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("robotomedium.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("robotomedium.woff2");
}
